altgraph==0.17
appdirs==1.4.4
asgiref==3.4.1
certifi==2021.5.30
distlib==0.3.2
dj-static==0.0.6
Django==3.2.5
filelock==3.0.12
macholib==1.14
pipenv==2021.5.29
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
static3==0.7.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
